In [176]:
import sys

f = open("C:/Users/PIRL/Desktop/AI/students.txt", "r")

stus = []

data = f.read()
data = data.split('\n')

for i in range(0, len(data)-1):
    dic = {}
    student = data[i].split("\t")

    dic['stu_id'] = student[0]
    dic['stu_name'] = student[1]
    dic['mid'] = student[2]
    dic["final"] = student[3]
    avg = (int(dic['mid']) + int(dic['final'])) / 2
    dic["stu_avg"] = avg
    dic['stu_grade'] = grade(avg)

    stus.append(dic)
    
def grade(avg):
    if avg >= 90:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        return "C"
    elif avg >= 60:
        return "D"
    else:
        return "F"

In [177]:
stus

[{'stu_id': '20180001',
  'stu_name': 'Hong Gildong',
  'mid': '84',
  'final': '73',
  'stu_avg': 78.5,
  'stu_grade': 'C'},
 {'stu_id': '20180002',
  'stu_name': 'Lee Jieun',
  'mid': '92',
  'final': '89',
  'stu_avg': 90.5,
  'stu_grade': 'A'},
 {'stu_id': '20180007',
  'stu_name': 'Kim Cheolsu',
  'mid': '57',
  'final': '62',
  'stu_avg': 59.5,
  'stu_grade': 'F'},
 {'stu_id': '20180009',
  'stu_name': 'Lee Yeonghee',
  'mid': '81',
  'final': '84',
  'stu_avg': 82.5,
  'stu_grade': 'B'},
 {'stu_id': '20180011',
  'stu_name': 'Ha Donghun',
  'mid': '58',
  'final': '68',
  'stu_avg': 63.0,
  'stu_grade': 'D'}]

In [178]:
def show(stus):
    stus = sorted(stus, key = lambda stu: stu['stu_avg'], reverse=True)

    print("Student\t\tName\t\tMidterm\tFinal\tAverage\tGrade")
    print("--------------------------------------------------------------")
    
    for stu in stus:
        print(stu['stu_id'],'    ', stu['stu_name'], '\t', stu['mid'], '\t', stu['final'], '\t', stu['stu_avg'], '\t', stu['stu_grade'])

In [179]:
show(stus)

Student		Name		Midterm	Final	Average	Grade
--------------------------------------------------------------
20180002      Lee Jieun 	 92 	 89 	 90.5 	 A
20180009      Lee Yeonghee 	 81 	 84 	 82.5 	 B
20180001      Hong Gildong 	 84 	 73 	 78.5 	 C
20180011      Ha Donghun 	 58 	 68 	 63.0 	 D
20180007      Kim Cheolsu 	 57 	 62 	 59.5 	 F

In [180]:
def search(stus):
    id = input("Student ID: ")
    
    for i in stus:
        if id == i['stu_id']:
            print("Student\t\tName\t\tMidterm\tFinal\tAverage\tGrade")
            print("--------------------------------------------------------------")
            print(i['stu_id'],'    ', i['stu_name'], '\t', i['mid'], '\t', i['final'], '\t', i['stu_avg'], '\t', i['stu_grade'])        
            return
    print("NO SUCH PERSON.")
    return

In [184]:
search(stus)

Student ID: 20180007
Student		Name		Midterm	Final	Average	Grade
--------------------------------------------------------------
20180007      Kim Cheolsu 	 75 	 62 	 68.5 	 D

In [191]:
def changescore(stus):
    id = input("Student ID: ")

    for i in stus:
        if id == i['stu_id']:
            mid_final = input("Mid/Final?: ")
            if mid_final == "mid" or mid_final == "final":
                score = input("Input new socre: ")
                if (int(score) >= 0 and int(score) <= 100):
                    print("Student\t\tName\t\tMidterm\tFinal\tAverage\tGrade")
                    print("--------------------------------------------------------------")
                    print(i['stu_id'],'    ', i['stu_name'], '\t', i['mid'], '\t', i['final'], '\t', i['stu_avg'], '\t', i['stu_grade'])
                    
                    i[mid_final] = score
                    i['stu_avg'] = (int(i['mid']) + int(i['final'])) / 2.0
                    i['stu_grade'] = grade(i['stu_avg'])
                    print("Score changed")
                     
                    # 바뀐 후 점수 출력
                    print("Student\t\tName\t\tMidterm\tFinal\tAverage\tGrade")
                    print("--------------------------------------------------------------")
                    print(i['stu_id'],'    ', i['stu_name'], '\t', i['mid'], '\t', i['final'], '\t', i['stu_avg'], '\t', i['stu_grade'])
                    
                    return
                else:
                    return
            else:
                return
    print("NO SUCH PERSON")

In [192]:
changescore(stus)

Student ID: 20180007
Mid/Final?: mid
Input new socre: 88
Student		Name		Midterm	Final	Average	Grade
--------------------------------------------------------------
20180007      Kim Cheolsu 	 75 	 62 	 68.5 	 D
Score changed
Student		Name		Midterm	Final	Average	Grade
--------------------------------------------------------------
20180007      Kim Cheolsu 	 88 	 62 	 75.0 	 C
NO SUCH PERSON